# Iterasi

## Iterasi For

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for i in planets:
    print(i, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

Ketika kita menggunakan loop, ada beberapa hal yang perlu diperhatikan :

1. Kita perlu memberikan nama variable yang akan digunakan (dalam contoh di atas adalah planet)
2. Serentetan nilai yang ingin kita looping untuk melakukan operasi kepada setiap elemennya (dalam contoh di atas adalah planets).

### range()

In [ ]:
for i in range(5): # 0, 1, 2, 3, 4
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

In [ ]:
for i in range(1, 3, 2):
  print(i)

TypeError: 'float' object cannot be interpreted as an integer

### enumerate()

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, area in enumerate(areas) :
    print("room"+str(index)+": "+str(area))

murid = ["Ani", "Budi", "Dudung", "Dani"]
for tempat, anakmurid in enumerate(murid):
  print(anakmurid+ " duduknya di: "+str(tempat))

room0: 11.25
room1: 18.0
room2: 20.0
room3: 10.75
room4: 9.5
Ani duduknya di: 0
Budi duduknya di: 1
Dudung duduknya di: 2
Dani duduknya di: 3

## Iterasi While

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 5 # i = i+1

0
5

In [ ]:
nama = "Dudung"
while nama == "Dudung":
  nama = input("Dudung ga boleh masuk, nama kamu siapa?")

Dudung ga boleh masuk, nama kamu siapa?Dudung
Dudung ga boleh masuk, nama kamu siapa?Dudung
Dudung ga boleh masuk, nama kamu siapa?Budi

In [ ]:
a = True
nama = ["Sarif", "John", "Anne"]
while a == True:
  for i in nama:
    print(i)
  a = False

Sarif
John
Anne

# Conditional

## If
digunakan jika kita hanya ingin menguji satu pernyataan sebagai syarat jika kode kita ingin dijalankan.

In [ ]:
nilai = 7
if nilai >= 8 :
  print('lulus')

In [ ]:
a = 5
if (a < 10):
  if (a > 3):
    print(a)

5

## If Else
digunakan jika kita hanya mempunyai dua kondisi yang ingin dilakukan. Kondisi jika True dan jika False.

In [ ]:
nilai = 8
if nilai >= 8:
  print('lulus')
else:
  print('tidak lulus')

lulus

##If Elif Else
digunakan jika kita hanya memiliki banyak syarat yang ingin diuji secara berurutan. Jadi jika syarat pertama tidak terpenuhi dia akan menguji syarat kedua, dan begitu seterusnya hingga bertemu dengan else.

In [ ]:
nilai = 8
if nilai < 5:
  print('tidak lulus')
elif nilai < 7: # 7 - 8.99999
  print('Nilai kamu B')
elif nilai < 9: #5 - 6.9999
  print('Nilai kamu A')
else:
 print('Nilai kamu A+')

Nilai kamu A

# Continue and Break

## Continue

In [ ]:
for i in range(1, 6): # 1, 2, 3, 4, 5
  if i == 3:
    pass
  print(i)

1
2
3
4
5

## Break

In [ ]:
for i in range(1, 6): #1, 2, 3, 4, 5
  if i == 3:
    break
  print(i)

1
2