In [ ]:
# No. 1

my_list = ['i', 'n', 'd', 'o', 'n', 'e', 's', 'i', 'a']
print(my_list[::3]) # indeks 0;3;6

['i', 'o', 's']

In [ ]:
# No. 2

my_list = ['i', 'n', 'd', 'o', 'n', 'e', 's', 'i', 'a']
print(my_list[::-3]) # indeks -1;-4;-7

['a', 'e', 'd']

In [ ]:
# No. 3

my_list = ['i', 'n', 'd', 'o', 'n', 'e', 's', 'i', 'a']
print(my_list[3:5]) # indeks 3 s.d. 4

['o', 'n']

In [ ]:
# No. 4

my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# No. 5

my_list = ['s', 'a', 'n', 'b', 'e', 'r'] # len = 6
print(len(my_list) * 5)

30

In [ ]:
# No. 6

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(tuple1 + tuple2)

(1, 2, 3, 4, 5, 6)

In [ ]:
# No. 7

numbers = (2, 6, 3, 9, 5)
result = min(numbers) * max(numbers) # 2 * 9
print(result)

18

In [ ]:
# No. 8

my_tuple = (1) # integer
print(my_tuple)

1

In [ ]:
my_tuple = (1, ) # tuple
print(my_tuple)

In [ ]:
# No. 9

teks = 'kucing'
tple = tuple(teks) # tuple per chara
print(tple)

('k', 'u', 'c', 'i', 'n', 'g')

In [ ]:
# No. 10

tple = (2,) * 5
print(tple)

(2, 2, 2, 2, 2)

In [ ]:
tpl = (2,2,2,)

In [ ]:
# No. 11

my_set = {}
print(type(my_set))

<class 'dict'>

In [ ]:
my_set = set()
print(type(my_set))

<class 'set'>

In [ ]:
# No. 12

my_set = set(['s', 'a', ('n', 'b'), 'e'])
my_set.update([('r', 'c')])
print(my_set)

{'s', ('r', 'c'), 'e', ('n', 'b'), 'a'}

In [ ]:
# No. 13

my_set = set(['b','i','r','u'])
my_set.add('b')
print(my_set)

{'r', 'u', 'i', 'b'}

In [ ]:
# No. 14

my_set = {1, 2, 3} # INGET! SET GA PUNYA INDEX
my_set.remove(2) # remove value 2
print(my_set)

{1, 3}

In [ ]:
# No. 15

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.symmetric_difference(set2)) # XOR

{1, 2, 4, 5}

In [ ]:
# No. 16

my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict['b'])

2

In [ ]:
# No. 17

my_dict = {'a': 1, 'b': 2, 'c': 3}
print(len(my_dict))

3

In [ ]:
# No. 18

my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
# list(my_dict.keys()) == ['a', 'b', 'c', 'd']
subset_keys = list(my_dict.keys())[1:3] # indeks 1 s.d. 2
print(subset_keys)

['b', 'c']

In [ ]:
# No. 19

mixed_data = [
    1, #0
    'apple', #1
    (2, 3), #2
    {'a': 4, 'b': 5}, #3
    {6, 7} #4
    ]

print(mixed_data[2][1] + mixed_data[3]['b'] - len(mixed_data[4]))
# 3 + 5 - 2

6

In [ ]:
# No. 20

my_tuple = (
    [1, 2, 3], #0
    'hello', #1
    4.5 #2
    )
my_tuple[0].append(4)
print(my_tuple)

([1, 2, 3, 4], 'hello', 4.5)

In [ ]:
# No. 21

my_set = {1, 2, 3, 4, 5}
my_set.update([3, 4, 5, 6, 7])
# my_set == {1, 2, 3, 4, 5, 6, 7} ; len = 7
print(len(my_set))

7

In [ ]:
my_set =  {1, 2, 3, 4, 5} | set([3, 4, 5, 6, 7])
my_set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# No. 22

nested_dict = {
    'a': {
        'b': {
            'c': [1, 2, 3]
            }
        }
    }
print(nested_dict['a']['b']['c'][2])

3

In [ ]:
# No. 23

set1 = {1, 2, 3}
set2 = {3, 4, 5}
combined_set = set1.union(set2)
print(combined_set)

{1, 2, 3, 4, 5}

In [ ]:
# No. 24

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
# No. 25

confusing_data = [
    (1, 2, 3), #0
    {'a': [4, 5]}, #1
    [6, 7, {'b': 8}]] #2
print(confusing_data[2][2]['b'] * confusing_data[1]['a'][1])
# 8 * 5

40