# Variabel

## Penamaan Variabel Python

In [ ]:
for = 1
for

SyntaxError: invalid syntax (<ipython-input-1-bb299a82de70>, line 1)

In [ ]:
abc = 1
abc

1

In [ ]:
123abc = 1
123abc

SyntaxError: invalid decimal literal (<ipython-input-3-2b7d0ffbe576>, line 1)

In [ ]:
my-variable = 1
my-variable

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-4-1d9215df40f8>, line 1)

In [ ]:
global = 1
global

SyntaxError: invalid syntax (<ipython-input-5-4c69c8f75549>, line 1)

In [ ]:
Var123 = 1
Var123

1

In [ ]:
my_variable = 1
my_variable

1

In [ ]:
python = 1
python

1

In [ ]:
if = 1
if

SyntaxError: invalid syntax (<ipython-input-9-d2c893f2c640>, line 1)

In [ ]:
CamelCase = 1
CamelCase

1

In [ ]:
variable = 1
variable

1

In [ ]:
for_you = 1
for_you

1

In [ ]:
local = 1
local

1

In [ ]:
private = 1
private

1

In [ ]:
True = 1
True

SyntaxError: cannot assign to True (<ipython-input-15-31cfc0d5b814>, line 1)

## Inisiasi Variabel

In [ ]:
a = b = c = 5

d, e, f = 4, 5, 6

g = h = i = 7

In [ ]:
print('a: ', a)
print('b: ', b)
print('c: ', c)
print('d: ', d)
print('e: ', e)
print('f: ', f)
print('g: ', g)
print('h: ', h)
print('i: ', i)

## Penukaran isi variabel

In [ ]:
# Python program to swap two variables
glass_a, glass_b = "red_wine", "white_wine"

# create a temporary variable and swap the values
temp = glass_a
glass_a  = glass_b
glass_b = temp

print('The value of glass_a after swapping:', glass_a)
print('The value of glass_b after swapping:', glass_b )

The value of glass_a after swapping: white_wine
The value of glass_b after swapping: red_wine

In [ ]:
glass_b, glass_a = glass_a, glass_b

In [ ]:
print('The value of glass_a after swapping:', glass_a)
print('The value of glass_b after swapping:', glass_b )

The value of glass_a after swapping: red_wine
The value of glass_b after swapping: white_wine

In [ ]:
a = 3
b = 5

a, b = b, a

In [ ]:
a

5

In [ ]:
b

3

# Tipe Data

## Tipe Data

In [ ]:
var = True
type(var)

bool

In [ ]:
var = 3.14
type(var)

float

In [ ]:
var = "Hello, World!"
type(var)

str

In [ ]:
var = 5.00
type(var)

float

In [ ]:
var = (1, 2, 3)
type(var)

tuple

## List vs Tuple

In [ ]:
[1, 2, 3, 4]
0, 1, 2, 3

In [ ]:
my_list_2 = [1, 2, 3, 4]
my_list_2[0]

1

In [ ]:
my_list_2 = [1, 2, 3, 4]
my_list_2[1]

2

In [ ]:
# List example
my_list = [1, 2, 3, 4]
my_list[0] = 5  # Valid - lists are mutable
print(my_list)  # Output: [5, 2, 3, 4]

[5, 2, 3, 4]

In [ ]:
# Tuple example
my_tuple = (1, 2, 3, 4)
my_tuple[0] = 5  # Invalid - tuples are immutable
print(my_tuple)  # Output: (1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple = (1, 2, 3, 4)
my_tuple[0]

1

In [ ]:
# Using tuple as keys
my_dict_tuple = {(1, 2): 'value1', (3, 4): 'value2'}
print(my_dict_tuple)  # Output: {(1, 2): 'value1', (3, 4): 'value2'}

{(1, 2): 'value1', (3, 4): 'value2'}

In [ ]:
# Using list as keys (will result in a TypeError)
my_dict_list = {[1, 2]: 'value1', [3, 4]: 'value2'}  # TypeError

TypeError: unhashable type: 'list'

In [ ]:
varchar

In [ ]:
str

# Operator

## Aritmatika Operator

In [2]:
i = 5

while (i < 5):
  print(i)
  i += 1

In [1]:
X = 4
X &= 4

In [ ]:
X

4

In [ ]:
X = 4
X ^= 4
X

0

In [ ]:
a = 10
b = 5

# Penjumlahan
result_addition = a + b
print("Penjumlahan:", result_addition)

# Pengurangan
result_subtraction = a - b
print("Pengurangan:", result_subtraction)

# Perkalian
result_multiplication = a * b
print("Perkalian:", result_multiplication)

# Pembagian
result_division = a / b
print("Pembagian:", result_division)

# Modulus (Sisa pembagian)
result_modulus = a % b
print("Modulus:", result_modulus)

# Pangkat
result_exponentiation = a ** b
print("Pangkat:", result_exponentiation)

# Floor division
result_floor_division = a // b
print("Floor Division:", result_floor_division)

Penjumlahan: 15
Pengurangan: 5
Perkalian: 50
Pembagian: 2.0
Modulus: 0
Pangkat: 100000
Floor Division: 2

In [ ]:
5 // 2

2

In [ ]:
6/3.7

1.6216216216216215

In [ ]:
6//3.7

1.0

In [ ]:
3 // 2

1

In [ ]:
5/2 = 2 * 2 + 1

In [ ]:
6/3.7

1.6216216216216215

In [ ]:
//

In [ ]:
round(6/3.7, 0)

2.0

In [ ]:
round(6/3.7, 1)

1.6

In [ ]:
round(6/3.7, 2)

1.62

## Assignment Operator

In [ ]:
x = 5

# Penugasan sederhana
y = x
print("Nilai y:", y)
print("Nilai x:", x)

# Penugasan dengan operasi
x += 3 # x = x + 3
print("Nilai x setelah ditambah 3:", x)

x -= 3 # x = x - 3
print("Nilai x setelah dikurang 3:", x)

x *= 3 # x = x * 3
print("Nilai x setelah dikali 3:", x)

x /= 3 # x = x / 3
print("Nilai x setelah dibagi 3:", x)

x %= 3 # x = x % 3
print("Nilai x setelah dimodul 3:", x)

Nilai y: 5
Nilai x: 5
Nilai x setelah ditambah 3: 8
Nilai x setelah dikurang 3: 5
Nilai x setelah dikali 3: 15
Nilai x setelah dibagi 3: 5.0
Nilai x setelah dimodul 3: 2.0

## Comparison Operator

In [ ]:
p = 10
q = 5

# Sama dengan
print("Apakah p sama dengan q?", p == q)

# Tidak sama dengan
print("Apakah p tidak sama dengan q?", p != q)

# Lebih besar dari
print("Apakah p lebih besar dari q?", p > q)

# kurang dari
print("Apakah p kurang dari q?", p < q)

# lebih besar dari atau sama dengan
print("Apakah p lebih besar dari atau sama dengan q?", p >= q)

# Kurang dari atau sama dengan
print("Apakah p kurang dari atau sama dengan q?", p <= q)

Apakah p sama dengan q? False
Apakah p tidak sama dengan q? True
Apakah p lebih besar dari q? True
Apakah p kurang dari q? False
Apakah p lebih besar dari atau sama dengan q? True
Apakah p kurang dari atau sama dengan q? False

In [ ]:
senin = 'putih putih'
selasa = 'putih abu'

today = 'selasa'

if today == 'senin':
   print(senin)
elif today == 'selasa':
  print(selasa)

putih abu

## Logical Operator

In [ ]:
# AND
is_true = True
is_false = False
print("True AND False:", is_true and is_false)

# OR
print("True OR False:", is_true or is_false)

# NOT
print("NOT True:", not is_true)

True AND False: False
True OR False: True
NOT True: False

## Identity Operator

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

# is (sama objek)
print("a is b?", a is b)
print("a is c?", a is c)

# is not (objek berbeda)
print("a is not b?", a is not b)
print("a is not c?", a is not c)

# == (sama value?)
print("a == b?", a == c)
print("a != b?", a == c)

a is b? True
a is c? False
a is not b? False
a is not c? True
a == b? True
a != b? True

In [ ]:
a = b = c = 5
a is b

True

## Membership Operator

In [ ]:
list_example = [1, 2, 3, 4, 5]

# in (anggota)
print("3 in list_example?", 3 in list_example)
print("10 in list_example?", 10 in list_example)

# not in (bukan anggota)
print("6 not in list_example?", 6 not in list_example)
print("1 not in list_example?", 1 not in list_example)

3 in list_example? True
10 in list_example? False
6 not in list_example? True
1 not in list_example? False

## Bitwise Operator

In [ ]:
# AND bitwise
result_and = True & False
print("Bitwise AND (True & False):", result_and)

# OR bitwise
result_or = True | False
print("Bitwise OR (True | False):", result_or)

# XOR bitwise
result_xor = True ^ False
print("Bitwise XOR (True ^ False):", result_xor)

Bitwise AND (True & False): False
Bitwise OR (True | False): True
Bitwise XOR (True ^ False): True

# Built-in Function

In [ ]:
numbers = [5, 2, 8, 1, 6]

# Menggunakan min() untuk mendapatkan nilai terkecil
minimum_value = min(numbers)
print("Nilai terkecil:", minimum_value)

# Menggunakan max() untuk mendapatkan nilai terbesar
maximum_value = max(numbers)
print("Nilai terbesar:", maximum_value)

Nilai terkecil: 1
Nilai terbesar: 8

In [ ]:
number = -10

# Menggunakan abs() untuk mendapatkan nilai absolut
absolute_value = abs(number)
print("Nilai absolut:", absolute_value)

Nilai absolut: 10

In [ ]:
my_string = "Hello, World!"

# Menggunakan len() untuk mendapatkan panjang string
string_length = len(my_string)
print("Panjang string:", string_length)

Panjang string: 13

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Menggunakan sum() untuk mendapatkan jumlah semua elemen dalam list
total_sum = sum(numbers)
print("Jumlah elemen dalam list:", total_sum)

Jumlah elemen dalam list: 15

In [ ]:
float_number = 3.14159

# Menggunakan round() untuk membulatkan angka desimal
rounded_number = round(float_number, 2)  # Memiliki dua angka di belakang koma
print("Angka setelah dibulatkan:", rounded_number)

Angka setelah dibulatkan: 3.14

In [ ]:
unsorted_list = [4, 1, 7, 3, 9]

# Menggunakan sorted() untuk mengurutkan list
sorted_list = sorted(unsorted_list)
print("List setelah diurutkan:", sorted_list)

List setelah diurutkan: [1, 3, 4, 7, 9]

In [ ]:
unsorted_list = ['z', 's', 'v', 's', 'a']

# Menggunakan sorted() untuk mengurutkan list
sorted_list = sorted(unsorted_list)
print("List setelah diurutkan:", sorted_list)

List setelah diurutkan: ['a', 's', 's', 'v', 'z']

In [ ]:
a = 'hello'
# a = ['h', 'e', 'l', 'l', 'o']
sorted = sorted(a)
print(sorted)

['e', 'h', 'l', 'l', 'o']