In [ ]:
import sqlite3 as sq

In [ ]:
db = sq.connect('school.db')

In [ ]:
query = '''CREATE Table students(
        id_siswa integer primary key autoincrement,
        nama TEXT not null,
        id_kelas integer not null,
        tahun_masuk integer not null)'''

cursor_db = db.cursor()
cursor_db.execute(query)

In [ ]:
query = '''INSERT INTO students (nama, id_kelas, tahun_masuk)
        VALUES
        ('shiroe', 21, 2012),
        ('akatsuki', 21, 2012),
        ('naotsugu', 21, 2012),
        ('minori', 13, 2013),
        ('touya', 13, 2013),
        ('kanami', 31, 2011)'''

cursor_db.execute(query)
db.commit()

In [ ]:
query = '''SELECT * FROM students'''

a = cursor_db.execute(query)
print(a)

<sqlite3.Cursor object at 0x7e8a4abb7ac0>

In [ ]:
input_list = [
    ('Naruto', 21, 2012),
    ('Sasuke', 21, 2012),
]

In [ ]:
query = '''
        INSERT INTO students (nama, id_kelas, tahun_masuk)
        VALUES (?, ?, ?)
        '''

cursor_db = db.cursor()

In [ ]:
for data in input_list:
    cursor_db.execute(query, data)

db.commit()

In [ ]:
def update_data(nama, kolom, nilai):
  query = f'''
        UPDATE students
        SET
            {kolom} = {nilai}
        WHERE
            nama = "{nama}"
        '''

  cursor_db = db.cursor()
  cursor_db.execute(query)
  db.commit()

In [ ]:
try:
  update_data('kanami', 'id_kelas', '32')
  print('data succesfully updated')
except Exception as e:
  print(f"failed: {e}")

data succesfully updated

In [ ]:
def delete_data(nama):
    query = f'''
        DELETE FROM students
        WHERE
            nama = "{nama}"
        '''

    cursor_db = db.cursor()
    cursor_db.execute(query)
    db.commit()

In [ ]:
try:
  delete_data('Naruto')
  print('data succesfully deleted')
except Exception as e:
  print(f"failed: {e}")

data succesfully deleted

In [ ]:
def search_all():
    query = "select * from students"

    cursor_db = db.cursor()
    cursor_db.execute(query)
    result = cursor_db.fetchall() # penting

    for student in result:
      print(result)

In [ ]:
try:
  search_all()
except Exception as e:
  print(f"failed: {e}")

[(1, 'shiroe', 21, 2012), (2, 'akatsuki', 21, 2012), (3, 'naotsugu', 21, 2012), (4, 'minori', 13, 2013), (5, 'touya', 13, 2013), (6, 'kanami', 32, 2011), (8, 'Sasuke', 21, 2012)]
[(1, 'shiroe', 21, 2012), (2, 'akatsuki', 21, 2012), (3, 'naotsugu', 21, 2012), (4, 'minori', 13, 2013), (5, 'touya', 13, 2013), (6, 'kanami', 32, 2011), (8, 'Sasuke', 21, 2012)]
[(1, 'shiroe', 21, 2012), (2, 'akatsuki', 21, 2012), (3, 'naotsugu', 21, 2012), (4, 'minori', 13, 2013), (5, 'touya', 13, 2013), (6, 'kanami', 32, 2011), (8, 'Sasuke', 21, 2012)]
[(1, 'shiroe', 21, 2012), (2, 'akatsuki', 21, 2012), (3, 'naotsugu', 21, 2012), (4, 'minori', 13, 2013), (5, 'touya', 13, 2013), (6, 'kanami', 32, 2011), (8, 'Sasuke', 21, 2012)]
[(1, 'shiroe', 21, 2012), (2, 'akatsuki', 21, 2012), (3, 'naotsugu', 21, 2012), (4, 'minori', 13, 2013), (5, 'touya', 13, 2013), (6, 'kanami', 32, 2011), (8, 'Sasuke', 21, 2012)]
[(1, 'shiroe', 21, 2012), (2, 'akatsuki', 21, 2012), (3, 'naotsugu', 21, 2012), (4, 'minori', 13, 2013), (5, 'touya', 13, 2013), (6, 'kanami', 32, 2011), (8, 'Sasuke', 21, 2012)]
[(1, 'shiroe', 21, 2012), (2, 'akatsuki', 21, 2012), (3, 'naotsugu', 21, 2012), (4, 'minori', 13, 2013), (5, 'touya', 13, 2013), (6, 'kanami', 32, 2011), (8, 'Sasuke', 21, 2012)]