In [95]:
# HandsOn
import pandas as pd

# HandsOn day 11

## 1. Buka file ramen_rating.csv dengan menggunakan pandas

In [96]:
data = pd.read_csv("ramen-ratings.csv")
data

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

## 2. Tampilkan hanya kolom 'Variety'

In [109]:
data[['Variety']].head()

                                             Variety
0                          T's Restaurant Tantanmen
1  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
2                      Cup Noodles Chicken Vegetable
3                      GGE Ramen Snack Tomato Flavor
4                                    Singapore Curry

## 3. Filter dataframe sesuai dengan ketentuan berikut:
1. Ramen yang memiliki rating lebih dari 3
2. Ramen yang memiliki rating kurang dari 3 dan mempunyai style 'Pack'
3. Ramen yang berasal dari Vietnam atau Thailand dan memiliki rating kurang dari 2

In [123]:
data = data[data.Stars != 'Unrated']
data['Stars'] = pd.to_numeric(data['Stars'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2577 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2577 non-null   int64
 1   Brand     2577 non-null   object
 2   Variety   2577 non-null   object
 3   Style     2575 non-null   object
 4   Country   2577 non-null   object
 5   Stars     2577 non-null   float64
 6   Top Ten   41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 161.1+ KB

In [124]:
rating_lebih_dari_3 = data.Stars > 3
rating_lebih_dari_3

0        True
1       False
2       False
3       False
4        True
        ...
2575     True
2576    False
2577    False
2578    False
2579    False
Name: Stars, Length: 2577, dtype: bool

In [125]:
rating_kurang_dari_3 = data.Stars < 3
rating_kurang_dari_3
style_pack = data.Style == 'Pack'
style_pack

0       False
1        True
2       False
3        True
4        True
        ...
2575    False
2576     True
2577     True
2578     True
2579     True
Name: Style, Length: 2577, dtype: bool

In [127]:
rating_kurang_dari_2 = data.Stars < 2
rating_kurang_dari_2
Ramen_dari_Vietnam = data.Country == 'Vietnam'
Ramen_dari_Vietnam
Ramen_dari_Thailand = data.Country == 'Thailand'
Ramen_dari_Thailand

0       False
1       False
2       False
3       False
4       False
        ...
2575    False
2576     True
2577     True
2578     True
2579    False
Name: Country, Length: 2577, dtype: bool