# 1. Baca data menggunakan pandas dan convert menjadi dataframe

Baca data diamond_1.csv yang telah disediakan kemudian baca dengan menggunakan library pandas. Tampilkan beberapa data awal untuk gambaran akan keseluruhan data

In [210]:
import numpy as np
import pandas as pd
data = pd.read_csv('diamonds-1.csv')
# print(data)
data

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [211]:
# view the first rows
data.head(21)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66
20,21,0.30,Good,I,SI2,63.3,56.0,351,4.26,4.30,2.71

In [212]:
# view the last rows
data.tail(21)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53919,53920,0.76,Ideal,I,VVS1,62.2,55.0,2753,5.89,5.87,3.66
53920,53921,0.70,Very Good,E,VS2,62.4,60.0,2755,5.57,5.61,3.49
53921,53922,0.70,Very Good,E,VS2,62.8,60.0,2755,5.59,5.65,3.53
53922,53923,0.70,Very Good,D,VS1,63.1,59.0,2755,5.67,5.58,3.55
53923,53924,0.73,Ideal,I,VS2,61.3,56.0,2756,5.80,5.84,3.57
53924,53925,0.73,Ideal,I,VS2,61.6,55.0,2756,5.82,5.84,3.59
53925,53926,0.79,Ideal,I,SI1,61.6,56.0,2756,5.95,5.97,3.67
53926,53927,0.71,Ideal,E,SI1,61.9,56.0,2756,5.71,5.73,3.54
53927,53928,0.79,Good,F,SI1,58.1,59.0,2756,6.06,6.13,3.54
53928,53929,0.79,Premium,E,SI2,61.4,58.0,2756,6.03,5.96,3.68
53929,53930,0.71,Ideal,G,VS1,61.4,56.0,2756,5.76,5.73,3.53
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53932,53933,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47
53933,53934,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [213]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

# 2. DataFrame vs Series
1. Apa perbedaan Series dengan list dan dictionary
2. Apa perbedaan dataframe dan series
3. Buatlah suatu data series

# Answer:

1. Series merupakan struktur data satu dimensi yang mirip array atau daftar dalam python. Series memiliki label atau indeks unik yang memungkinkan Anda mengakses data dengan cara yang lebih terstruktur daripada daftar biasa. Series dapat menyimpan berbagai jenis tipe data seperti integer, string, dan lain sebagainya. tipe data dari objek series ini harus seragam. 

Series memiliki persamaan dengan list yaitu dapat dilakukan metode slicing, yaitu mengakses/indexing pada object series tersebut. 

Series memiliki persamaan dengan dictionary yaitu index yang dimiliki series berguna seperti keys pada dictionary.

2. Dataframe adalah struktur data dua dimensi yang dapat dianggap sebagai tabel atau lembar data. Ini terdiri dari baris dan kolom, dan setiap kolom dapat berisi tipe data yang berbeda. DataFrame adalah struktur data yang paling sering digunakan dalam analisis data, dan memungkinkan Anda untuk menyimpan, mengorganisasi, dan menganalisis data dengan cara yang sangat fleksibel. 

Sedangkan, Series adalah struktur data satu dimensi yang mirip dengan array atau daftar dalam Python. Series memiliki label atau indeks unik yang memungkinkan Anda mengakses data dengan cara yang lebih terstruktur daripada daftar biasa.

3.

In [214]:
import pandas as pd
# Series: an indexed 1D array
a = pd.Series([2,4,6,8,10], 
             index = ['a', 'b', 'c', 'd', 'e'])  # Explicit index
a

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [215]:
# Access data
a['d'] = 80 # 
a

a     2
b     4
c     6
d    80
e    10
dtype: int64

# 3. Filter DataFrame
1. Tampilkan dataset yang hanya menunjukkan â€˜cutâ€™ yang â€˜idealâ€™
2. Pilih semua diamond dengan harga < 1000
3. Pilih diamond dengan â€˜colorâ€™ â€˜Eâ€™ dan harga lebih dari 1000

1

In [216]:
data.cut # untuk menampilkan index dan atribut "cut" dari atas sampai bawah

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object

In [217]:
data.price

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [218]:
data[['cut']].head(21) # menampilkan 20 pertama dari index dan atribut "cut"

          cut
0       Ideal
1     Premium
2        Good
3     Premium
4        Good
5   Very Good
6   Very Good
7   Very Good
8        Fair
9   Very Good
10       Good
11      Ideal
12    Premium
13      Ideal
14    Premium
15    Premium
16      Ideal
17       Good
18       Good
19  Very Good
20       Good

In [219]:
data.cut.value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

2

In [220]:
data_filtered = data[data[ 'price'] < 1000] # harga kurang dari 1000
print(data_filtered)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53635       53636   0.30      Ideal     I    VVS1   62.1   56.0    552  4.30
53636       53637   0.30      Ideal     D     SI1   61.6   57.0    552  4.28
53637       53638   0.30  Very Good     D     SI1   62.5   57.0    552  4.26
53638       53639   0.30      Ideal     D     SI1   61.0   57.0    552  4.29
53639       53640   0.30      Ideal     D     SI1   61.0   56.0    552  4.35

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53635  4.33  2.68
53636  4.32  2.65
53637  4.28  2.67
53638  4.33  2.63
53639  4.37  2.66

[14499 rows x 11 columns]

In [221]:
data_filtered.price

0        326
1        326
2        327
3        334
4        335
        ...
53635    552
53636    552
53637    552
53638    552
53639    552
Name: price, Length: 14499, dtype: int64

In [222]:
data.loc[:, ['color', 'price']].head(21)

   color  price
0      E    326
1      E    326
2      E    327
3      I    334
4      J    335
5      J    336
6      I    336
7      H    337
8      E    337
9      H    338
10     J    339
11     J    340
12     F    342
13     J    344
14     E    345
15     E    345
16     I    348
17     J    351
18     J    351
19     J    351
20     I    351

In [235]:
color = data.color == 'E'
color

0         True
1         True
2         True
3        False
4        False
         ...
53935    False
53936    False
53937    False
53938    False
53939    False
Name: color, Length: 53940, dtype: bool

# 4. Data Cleaning

1. Tambahkan kolom baru bernama â€˜volumeâ€™ yang berisikan hasil perkalian x*y*z
2. Buat DataFrame baru dengan kolom â€˜cutâ€™, â€˜clarityâ€™, dan â€˜priceâ€™ saja

# 1

In [238]:
data['Volume'] = data['x'] * data['y'] * data['z']
data.head(21)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Volume
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,38.693952
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,38.830870
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,42.321081
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,36.425214
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,38.718000
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73,49.658700
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,37.704420
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33,34.715136
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71,51.515745
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,32.262375
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,51.883728
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68,50.130472
17,18,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70,48.996090
18,19,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71,48.833658
19,20,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66,47.818022
20,21,0.30,Good,I,SI2,63.3,56.0,351,4.26,4.30,2.71,49.641780

# 2

In [236]:
import pandas as pd

cut = ['Ideal', 'Premiun', 'Vary Good', 'Good', 'Fair']
clarity = ['SI2', 'SI20', 'SI12', 'SI14', 'SI8']
price = [514, 1388, 998, 867, 1800]

df = pd.DataFrame({'Cut': cut, 'Clarity': clarity, 'Price': price})
print(df)

         Cut Clarity  Price
0      Ideal     SI2    514
1    Premiun    SI20   1388
2  Vary Good    SI12    998
3       Good    SI14    867
4       Fair     SI8   1800

# 5.  Menentukan jenis data categorical atau numeric
Jelaskan data kategorikal (kualitatif) dan data numerik (kuantitatif)

Jawab disini:

data kategorikal (kualitatif) itu data yang disajikan dalam bentuk kata-kata (tulisan), gambar (audio) atau video yang memiliki makna. Data-data tersebut diperoleh dari wawancara, pengamatan, pemotretan, perekaman dan lain-lain. Pada intinya data kualitatif adalah data yang bukan merupakan bilangan angka sehinga tidak dianalisis dengan ilmu statistik (statistika).

sedangkan, data numerik (kuantitatif) itu data yang disajikan dalam bentuk bilangan angka, sehingga data kualitatif diolah secara statistik. Data kualitatif terbagi lagi menjadi dua jenis yaitu data kategorik dan data numerik. Data kategorikal ini terbagi menjadi nominal, ordinal, interval, dan rasio.